# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=achan
DB_USERNAME=achan
DB_PASSWORD=achan
LOG_SQL=false

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_URL_CRAWL=url-crawl-requests

# Application
APP_LOG_LEVEL=DEBUG

# OpenTelemetry (optional, configure if you have a collector running)
OTEL_ENDPOINT=http://localhost:4317